:root{
    --texto: #000;
    --texto1: #fff;
    --botones: #4CB9E7;
    --botones-hover: #0F2167;
    --footer: #171a21;
}
*{
    font-family: sans-serif;
    background-color: #fff;
}
.index{
    margin: 0px;
}
.about{
    margin-top: 200px;
}
.about a{
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--texto);
    padding: 30px;
    background-color: var(--botones);
    border-radius: 10px;
    /* display: table; */
    transition: 0.5s ease;
}
.about a:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.historia{
    font-family: sans-serif;
    margin: 10%;
}
.menu{
    display: flex;
    margin-top: 10px;
}
.menu li{
    margin: 10px;
    list-style: none;
}
.menu a{
    color: var(--texto);
    text-decoration: none;
    background-color: var(--botones);
    padding: 10px;
    border-radius: 5px;
}
.menu .m-student{
    margin-left: auto;
}
.info{
    display: flex;
    background-color: var(--footer);
}
.f-info, .f-social{
    background-color: transparent;
}
.f-info, .f-social, li, a{
    list-style: none;
    text-decoration: none;
    color: var(--texto1);
    background-color: transparent;
}
.back{
    border-style: none;
    border-radius: 5px;
    background-color: var(--botones);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}
.back:hover{
    border-style: none;
    border-radius: 5px;
    color: var(--texto1);
    background-color: var(--botones-hover);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.forward{
    border-style: none;
    border-radius: 5px;
    background-color: var(--botones);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s ease;
}
.forward:hover{
    border-style: none;
    border-radius: 5px;
    color: var(--texto1);
    background-color: var(--botones-hover);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
