@import url('fonts.css');
:root{
    --texto: #000;
    --texto1: #fff;
    --texto2: #005887;
    --texto3: #ff3000;
    --textolinkhover: #3559E0;
    --botones: #4CB9E7;
    --botones-hover: #0F2167;
    --footer: #171a21;
    --fondo: #ffffff;
    --fondo40: #ffffff50;
    --btnsemitransp: #DBEAFB;
}
*{
    font-family: sans-serif;
    /* background-color: #fff; */
}
.cuerpo{
    margin: 0px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}
.about{
    margin: 200px 0px 200px 0px;
}
.about i{
    background-color: transparent;
    margin-right: 7px;
}
.about a{
    font-size: 30px;
    font-family: 'quicksand bold';
    text-decoration: none;
    color: var(--texto);
    padding: 30px;
    background-color: var(--botones);
    border-radius: 10px;
    transition: 0.5s ease;
}
.about a:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.bienvenida h1, .bienvenida h2{
    font-family: 'Russo One';
    margin-left: 5%;
    margin-right: 5%;
}
.bienvenida{
    background-image: linear-gradient(var(--fondo) 1%, var(--fondo40) 30%), url('../img/uptt.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0% 10% 0%;
    margin-top: 10px;
}
.sec-about{
    display: flex;
}
.i-about img, .i-about a{
    width: 70%;
    margin-left: auto;
    display: block;
}
.i-about a{
    color: #00000010;
}
.s-about h1{
    font-family: 'Russo One';
}
.s-about{
    margin: 0px 30px 21px 0px;
}
.s-about p{
    font-family: 'quicksand semibold';
}
.s-about a{
    font-family: 'quicksand semibold';
    padding: 10px;
    color: var(--texto);
    background-color: var(--botones);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s ease;
}
.s-about a:hover{
    color: var(--texto1);
    background-color: var(--botones-hover);
}
.s-about i{
    margin-left: 7px;
}
.historia, .vision, .mision{
    margin: 10%;
}
.historia p, .vision p, .mision p, .ubicacion p{
    font-family: 'quicksand semibold';
}
.historia h1, .vision h1, .mision h1, .ubicacion h1{
    font-family: 'Russo One';
}
.menu{
    display: flex;
    margin-top: 10px;
}
/* .m-student, .m-teacher{ */
/*     margin: 10px 10px 0px 0px; */
/*     list-style: none; */
/* } */
.m-student, .m-teacher{
    font-family: 'quicksand semibold';
    border-style: none;
    font-size: 15px;
    border-radius: 5px;
    color: var(--texto);
    text-decoration: none;
    background-color: var(--botones);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 7px 0px 0px;
    transition: 0.2s ease;
}
.m-student, .mc-teacher, i{
    margin-right: 7px;
}
.menu .m-student{
    margin-left: auto;
}
.m-student .m-teacher {
    transition: 0.2s ease;
}
.m-student:hover, .m-teacher:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.info{
    display: flex;
    background-color: var(--footer);
    margin-top: auto;
    padding: 30px 0 30px 0;
}
.f-info, .f-social, .f-info i, .f-social i{
    background-color: transparent;
    margin-right: 7px;
}
.f-info a, .f-social a, .f-info li, .f-social li{
    font-family: 'quicksand';
    margin-top: 7px;
    list-style: none;
    text-decoration: none;
    color: var(--texto1);
    background-color: transparent;
    transition: 0.25s ease;
}
.f-info a:hover, .f-social a:hover{
    color: var(--textolinkhover);
}
.back{
    font-family: 'quicksand semibold';
    border-style: none;
    border-radius: 5px;
    background-color: var(--botones);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 7px;
    transition: 0.5s ease;
}
.back i{
    background-color: transparent;
    margin-right: 7px;
}
.back:hover{
    border-style: none;
    border-radius: 5px;
    color: var(--texto1);
    background-color: var(--botones-hover);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.forward{
    font-family: 'quicksand semibold';
    border-style: none;
    border-radius: 5px;
    background-color: var(--botones);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.5s ease;
}
.forward i{
    background-color: transparent;
    margin-left: 7px;
}
.forward:hover{
    border-style: none;
    border-radius: 5px;
    color: var(--texto1);
    background-color: var(--botones-hover);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.logosys{
    width: 100px;
}
.tlog{
    text-align: center;
    font-family: 'Russo One';
}

.login{
    width: 350px;
    margin: 30px auto 14px auto;
    padding: 40px 70px 70px 70px;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--texto);
    box-shadow: 10px 10px;
}
.login input, #submit{
    border-style: solid;
    border-color: var(--botones);
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
.relleno{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.relleno input{
    margin: 7px 0px 0px 0px;
    width: 100%;
}
#submit{
    background-color: var(--botones);
    font-family: 'quicksand bold';
    cursor: pointer;
    transition: 0.25s ease;
}
#submit i{
    margin-left: 7px;
}
#submit:hover{
    color: var(--texto1);
    background-color: var(--botones-hover);
    border-color: var(--botones-hover);
}
.signsigentr{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 35px 0px 0px 0px;
    width: 100%;
}
.oplog{
    flex-grow: 1;
    text-align: right;
}
.signup{
    flex-grow: 1;
}
.busignup{
    border-style: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
.busignup:hover{
    background-color: var(--btnsemitransp);
}
.spabusignup{
    font-family: 'quicksand bold';
    color: var(--texto2);
}
.teresc{
    padding: 10px;
    margin: 21px 0px 0px 0px;
    font-family: 'quicksand bold';
    color: var(--texto2);
    background-color: transparent;
    transition:  0.5s ease;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.teresc:hover{
    background-color: var(--btnsemitransp);
}
.logpass{
    margin: 21px auto;
}
.logpass label::selection{
    color: none;
}
.logpass label, .logpass input{
    font-family: 'quicksand bold';
    padding: 14px 7px 14px 0px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
.logpass label:hover{
    background-color: var(--btnsemitransp);
}
.minifoot{
    text-align: center;
    color: var(--texto2);
    font-family: 'quicksand';
    font-size: 10px;
    margin: 30px 0px 20px 0px;
}
.logpass input{
    background: var(--botones);
    accent-color: var(--botones);
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}
.ubicacion{
    margin: 10% 10% 0% 10%;
}
.map{
    margin: 0% 10% 10% 10%;
}
.map iframe{
    width: 100%;
    height: 350px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--footer);
}
/*========================================= */
/*             === Registro ===            */
/*========================================= */
.crecu{
    display: none;
}
.creacu{
    width: 350px;
    margin: 30px auto 14px auto;
    padding: 40px 70px 70px 70px;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--texto);
    box-shadow: 10px 10px;
}
.formu input{
    padding: 10px;
    margin: 7px 0px 0px 0px;
    width: 93%;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--botones);
}
.sigpass label{
    background-color: transparent;
    font-family: 'quicksand bold';
    padding: 10px 0px 10px 0px;
    border-style: none;
    border-radius: 5px;
    transition: 0.5s ease;
}
.sigpass label:hover{
    background-color: var(--btnsemitransp);
}
.sigpass input, .sigpass label{
    cursor: pointer;
}
.sigpass input{
    margin: 21px auto;
    accent-color: var(--botones);
    width: auto;
}
.sigpass label::selection{
    color: none;
}
.option{
    display: flex;
    flex-wrap: wrap;
    margin: 21px 0px 0px 0px;
    width: 100%;
}
.clean{
    flex-grow: 1;
    text-align: left;;
}
.clean button{
    background-color: transparent;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: 0.5s ease;
}
.clean button:hover{
    background-color: var(--btnsemitransp);
}
.clean span{
    font-family: 'quicksand bold';
    color: var(--texto2);
}
.push span{
    font-family: 'quicksand bold';
}
.push i{
    margin: 0px 7px 0px;
}
.push{
    flex-grow: 1;
    text-align: right;
}
.push button{
    background-color: var(--botones);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: 0.5s ease;
}
.push button:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.loggo .swit{
    margin: 21px 0px;
    background-color: transparent;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
.loggo .swit:hover{
    background-color: var(--btnsemitransp);
}
.loggo .swit span{
    font-family: 'quicksand bold';
    color: var(--texto2);

}


/*========================================*/
/*=============Estudiantes================*/
/*========================================*/
.stud{
    margin: 30px auto 14px auto;
    padding: 40px 70px 70px 70px;
    border: solid 1px;
    border-color: var(--texto);
    border-radius: 5px;
    width: 350px;
    box-shadow: 10px 10px;
}

.log{
    margin: 21px 0px 0px 0px;
}
.log input{
    padding: 10px;
    outline: none;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--botones);
    width: 100%;
    box-sizing: border-box;
}
.log button{
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    margin: 14px 0px 0px 0px;
    cursor: pointer;
    width: 100%;
    font-family: 'quicksand bold';
    font-size: 14px;
    color: var(--texto);
    background-color: var(--botones);
    transition: 0.2s ease;
}
.log button:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.log1 img{
    width: 100px;

}
.warni{
    margin: 21px 0px 0px 0px;
    text-align: center;
}
.war1, .war2{
    font-family: 'quicksand bold';
    font-size: 15px;
}
.war1{
    color: var(--texto2);
}
.war2{
    color: var(--texto3);
}

/*===========================================*/
/*===========Diseño responsivo===============*/
/*===========================================*/
@media (max-width: 748px){
    .about{
        display: unset;
    }
    .m{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 10px;
    }
    .about{
        margin: 77px 0px 77px 0px;
    }
    .map iframe{
        width: 100%;
        height: 200%;
    }
    .map{
        margin: 10% 10% 77% 10%;
    }
}
@media (max-width: 452px){
    .info{
        display: unset;
    }
    .f-social{
        margin-top: 35px;
    }
}
@media (max-width: 507px){
    .stud{
        width: 290px;
        padding: 40px 21px 70px 21px;
    }
}
@media (max-width: 507px){
   .login{
        width: 290px;
        padding: 40px 21px 70px 21px;
   } 
   .creacu{
       width: 290px;
       padding: 40px 21px 70px 21px;
   }
}



