:root{
    --blanco: #fff;
    --texto: #000;
    --botones: #4CB9E7;
}
*{
    font-family: sans-serif;
    background-color: var(--blanco);
}
body{
    margin: 0px;
}
.menu{
    display: flex;
}
.menu li{
    margin: 10px;
    list-style: none;
}
.menu a{
    color: var(--texto);
    text-decoration: none;
    background-color: var(--botones);
    padding: 10px;
    border-radius: 5px;
}
.menu .m-student{
    margin-left: auto;
}
.info{
    display: flex;
    background-color: #000;

}
.f-info, .f-social{
    background-color: transparent;
}
.f-info, .f-social, li, a{
    list-style: none;
    text-decoration: none;
    background-color: transparent;
}
