@font-face{
    font-family: 'Russo One';
    src: url('/fonts/russo_One/RussoOne-Regular.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'quicksand';
    src: url('/fonts/quicksand/Quicksand-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'quicksand bold';
    src: url('/fonts/quicksand/static/Quicksand-Bold.ttf');
}
@font-face{
    font-family: 'quicksand light';
    src: url('/fonts/quicksand/static/Quicksand-Light.ttf');
}
@font-face{
    font-family: 'quicksand medium';
    src: url('/fonts/quicksand/static/Quicksand-Medium.ttf');
}
@font-face{
    font-family: 'quicksand regular';
    src: url('/fonts/quicksand/static/Quicksand-Regular.ttf');
}
@font-face{
    font-family: 'quicksand semibold';
    src: url('/fonts/quicksand/static/Quicksand-SemiBold.ttf');
}
@font-face {
    font-family: 'staatliches';
    src: url('/fonts/Staatliches/Staatliches-Regular.ttf');
}
@font-face {
    font-family: 'staatliches black';
    src: url('/fonts/Barlow/Barlow-Black.tff');
}
@font-face {
    font-family: 'staatliches blackditalic';
    src: url('/fonts/Barlow/Barlow-BlackItalic.tff');
}
@font-face {
    font-family: 'staatliches bold';
    src: url('/fonts/Barlow/Barlow-Bold.tff');
}
@font-face {
    font-family: 'staatliches bolditalic';
    src: url('/fonts/Barlow/Barlow-BoldItalic.tff');
}
@font-face {
    font-family: 'staatliches extrabold';
    src: url('/fonts/Barlow/Barlow-ExtraBold.tff');
}
@font-face {
    font-family: 'staatliches extrabolditalic';
    src: url('/fonts/Barlow/Barlow-ExtraBoldItalic.tff');
}
@font-face {
    font-family: 'staatliches italic';
    src: url('/fonts/Barlow/Barlow-Italic.tff');
}
@font-face {
    font-family: 'staatliches light';
    src: url('/fonts/Barlow/Barlow-Light.tff');
}
@font-face {
    font-family: 'staatliches lightitalic';
    src: url('/fonts/Barlow/Barlow-LightItalic.tff');
}
@font-face {
    font-family: 'staatliches medium';
    src: url('/fonts/Barlow/Barlow-Medium.tff');
}
@font-face {
    font-family: 'staatliches mediumitalic';
    src: url('/fonts/Barlow/Barlow-MediumItalic.tff');
}
@font-face {
    font-family: 'staatliches regular';
    src: url('/fonts/Barlow/Barlow-Regular.tff');
}
@font-face {
    font-family: 'staatliches semibold';
    src: url('/fonts/Barlow/Barlow-SemiBold.tff');
}
@font-face {
    font-family: 'staatliches semibolditalic';
    src: url('/fonts/Barlow/Barlow-SemiBoldItalic.tff');
}
@font-face {
    font-family: 'staatliches thin';
    src: url('/fonts/Barlow/Barlow-Thin.tff');
}
@font-face {
    font-family: 'staatliches thinitalic';
    src: url('/fonts/Barlow/Barlow-ThinItalic.tff');
}
@font-face {
    font-family: 'inter';
    src: url('/fonts/Inter/Inter-VariableFont.ttf');
}
@font-face {
    font-family: 'inter italic';
    src: url('/fonts/Inter/Inter-Italic-VariableFont.ttf');
}


/*=========================================================*/
/*=============Iconos de google fonts======================*/
/*=========================================================*/
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(/fonts/fonts-google-icons/icons-google-fonts.woff2);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
