@import url(fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --texto1: #fff;
    --texto2: #005887;
    --texto3: #ff3000;
    --textolinkhover: #3559E0;
    --botones-rgb: 66,114,216;
    --botones: #4272d8;
    --botones-hover: #0F2167;
    --footer: #171a21;
    --footer-claro: #252a35;
    --desenfoquegeneral: blur(20px);
    --fondodesenfoquegeneral: #00000080;
    /*=================================*/
    /*==========Tema Claro=============*/
    /*=================================*/
    --fondo: #ffffff;
    --fondo40: #ffffff50;
    --borderclaro: #eeeeee;
    --texto: #000;
    --textofondooscuro: #fff;
    --btnsemitransp: #DBEAFB;
    /*=================================*/
    /*==========Tema Oscuro============*/
    /*=================================*/
    --fondooscuro: #1d232f;
    --textooscuro: #fff;
}
*{
    font-family: sans-serif;
    /* background-color: #fff; */
}
.cuerpo{
    margin: 0px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
}
.about{
    margin: 200px 0px 200px 0px;
}
.about i{
    background-color: transparent;
    margin-right: 7px;
}
.about a{
    font-size: 30px;
    font-family: 'quicksand bold';
    text-decoration: none;
    color: var(--texto);
    padding: 30px;
    background-color: var(--botones);
    border-radius: 10px;
    transition: 0.5s ease;
}
.about a:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.bienvenida h1, .bienvenida h2{
    font-family: 'staatliches';
    font-size: 48px;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--textofondooscuro);
    background: var(--fondodesenfoquegeneral);
    max-width: fit-content;
    padding: 7px 14px;
    border-radius: 7px;
    backdrop-filter: var(--desenfoquegeneral);
    font-weight: 500;
}
@media (max-width: 1142px) {
    .bienvenida h1, .bienvenida h2{
        font-size: 35px;
    }
}
@media (max-width: 843px) {
    .bienvenida h1, .bienvenida h2{
        font-size: 21px;
    }
}
.bienvenida{
    background-image: linear-gradient(var(--fondo) 1%, var(--fondo40) 30%), url(/resources/images/uptt2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 0% 10% 0%;
    margin-top: 10px;
}
.readygrades-all{
    margin-top: 50px;
}
.readygrades-all h1{
    text-align: center;
    font-size: 48px;
    color: var(--botones);
    font-family: 'staatliches';
    font-weight: 500;
}
.sec-readygrades{
    display: flex;
    justify-content: center;
    align-items: center;

}
.readygrades-img, .readygrades-img img{
    width: 35rem;
    margin-right: 50px;
}

.readygrades{
    width: 35%;
    /* text-align: center; */
    margin-left: 50px;
}
.sec-readygrades h1{
    color: var(--botones);
    font-family: 'staatliches';
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.readygrades p{
    font-family: 'inter';
    font-size: 21px;
    line-height: 1.7;
    margin-top: 70px;
}
.readylink{
    padding: 14px 55px 14px 55px;
    margin-top: 50px;
    background-color: var(--botones);
    color: var(--textofondooscuro);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'inter';
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease;
}
.readylink:hover{
    background-color: var(--botones-hover);
}
.sec-about{
    display: flex;
    /* transform: translate(-7%); */
    justify-content: center;
    margin-top: 35px;
}
.sec-about h1{
    color: var(--botones);
    text-align: center;
    font-family: 'Russo One';
    font-size: 30px;
}
.i-about img, .i-about a{
    width: 70%;
    margin-left: auto;
    display: block;
}
.i-about a{
    color: #00000010;
}
.s-about h1{
    font-family: 'staatliches';
    font-size: 48px;
    font-weight: 500;
}
.s-about summary{
    font-family: 'staatliches';
    padding: 21px;
    cursor: pointer;
    font-size: 23px;
}
.s-about summary::marker{
    content: "+ ";
    font-family: monospace;
    color: #000;
    font-weight: 100;
    font-size: 25px;
}
.s-about details[open] summary::marker {
    content: "- ";
}
.s-about{
    width: 71%;
    margin-right: 0.9%;
}
.s-about details{
    margin: 21px;
    border: 1px solid;
    border-color: #eeeeee;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0px 0px 14px #eeeeee;
}
.s-about p{
    /* font-family: 'quicksand'; */
    font-family: 'inter';
    padding: 0px 21px 21px 21px;
    margin: 0px 30px;
    font-size: 21px;
}
.s-about a{
    font-family: 'quicksand semibold';
    padding: 10px;
    color: var(--texto1);
    background-color: var(--botones);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s ease;
}
.s-about a:hover{
    color: var(--texto1);
    background-color: var(--botones-hover);
}
.d-about{
}
.s-about i{
    margin-left: 7px;
}

details[open] summary ~ * {
  animation: open .5s ease-in-out;
}
@keyframes open {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.historia{
    margin: 0% 10% 2% 10%;
}
.historia p, .vision p, .mision p, .ubicacion p{
    font-family: 'quicksand semibold';
}
.historia h1, .vision h1, .mision h1, .ubicacion h1{
    font-family: 'Russo One';
}
.salto{
    margin-bottom: 14px;
}
.organi{
    margin: 0% 10% 7% 10%;
}
.organi h1{
    font-family: 'staatliches';
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: var(--botones);
}
.organi-i{
    max-width: 100%;
}
.menu{
    display: flex;
    margin-top: 10px;
}
.menu-float{
    position: sticky;
    top: 0;
    overflow: hidden;
    margin: auto;
    max-width: 80%;
    z-index: 2;
    display: block;
}
.menu-float-movile{
    position: sticky;
    top: 0;
    overflow: hidden;
    margin: auto;
    max-width: 80%;
    z-index: 2;
    display: none;
}
@media (max-width: 664px) {
    .menu-float{
        display: none;
    }
    .menu-float-movile{
        display: block;
    }
}

.menu-float2{
    background-color: var(--fondodesenfoquegeneral);
    backdrop-filter: var(--desenfoquegeneral);
    text-align: center;
    border-radius: 14px;
    padding: 14px 0px;
    margin-top: 7px;
}
.menu-float a, .menu-float-movile a, .menu-float-movile span{
    padding: 14px;
    border-radius: 12px;
    margin: 2px;
    font-family: 'Inter';
    font-weight: 700;
    color: var(--textofondooscuro);
    cursor: pointer;
    transition: .2s ease-in-out;
}
.menu-float:hover a, .menu-float-movile:hover a, .menu-float-movile span:hover{
    text-shadow: 0 0 3px var(--textofondooscuro);
    color: transparent;
}
.menu-float a:hover, .menu-float-movile a:hover, .menu-float-movile span:hover{
    background-color: #ffffff25;
    color: var(--textofondooscuro);
    text-shadow: none;
}
.closebtn{
    font-size: 45px;
    color: var(--textofondooscuro);
    padding: 14px;
    border-radius: 12px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    max-width: 70px;
    cursor: pointer;
}
.movile-menu-close{
    display: none;
}
.movile-menu-open-open{
    display: none;
}
.movile-menu-open{
    background-color: var(--fondodesenfoquegeneral);
    backdrop-filter: var(--desenfoquegeneral);
    position: fixed;
    top: 0;
    padding-top: 7%;
    padding-bottom: 70%;
    max-width: 100%;
    min-width: 100%;
    z-index: 3;
}
.movile-menu-open-nav{
    color: var(--textofondooscuro);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 21px;
    font-family: 'Inter';
    font-weight: 700;
    gap: 21px;
}
.movile-menu-open-nav a{
    padding: 21px 35px;
    border-radius: 14px;
    border: 1px solid;
    border-color: var(--borderclaro);
    transition: .2s ease-in-out;
}
.movile-menu-open-nav a:hover{
    background-color: #ffffff50;
}
.betternet-wrapper{
    display: none;
}
/* .m-student, .m-teacher{ */
/*     margin: 10px 10px 0px 0px; */
/*     list-style: none; */
/* } */
.m-student, .m-teacher{
    font-family: 'inter';
    border-style: none;
    font-size: 15px;
    border-radius: 5px;
    color: var(--texto1);
    text-decoration: none;
    background-color: var(--botones);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 7px 0px 0px;
    transition: 0.2s ease;
}
.m-student, .mc-teacher, i{
    margin-right: 7px;
}
.menu .m-student{
    margin-left: auto;
}
.m-student .m-teacher {
    transition: 0.2s ease;
}
.m-student:hover, .m-teacher:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.info{
    display: flex;
    background-color: var(--footer);
    margin-top: auto;
    padding: 30px 0 30px 30px;
}
.f-info, .f-social, .f-admin, .f-info i, .f-social i, .f-admin i{
    background-color: transparent;
    margin-right: 7px;
}
.f-info a, .f-social a, .f-admin a, .f-info li, .f-social li, .f-admin li{
    font-family: 'inter';
    margin-top: 7px;
    list-style: none;
    text-decoration: none;
    color: var(--texto1);
    background-color: transparent;
    transition: 0.25s ease;
}
.f-info a:hover, .f-social a:hover, .f-admin a:hover{
    color: var(--textolinkhover);
}
.back{
    font-family: 'quicksand semibold';
    border-style: none;
    border-radius: 5px;
    background-color: var(--botones);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 7px;
    transition: 0.5s ease;
}
.back i{
    background-color: transparent;
    margin-right: 7px;
}
.back:hover{
    border-style: none;
    border-radius: 5px;
    color: var(--texto1);
    background-color: var(--botones-hover);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.home{
    font-family: 'inter';
    border-style: none;
    border-radius: 5px;
    background-color: var(--botones);
    color: var(--texto1);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.5s ease;
}
.forward i{
    background-color: transparent;
    margin-left: 7px;
}
.home:hover{
    border-style: none;
    border-radius: 5px;
    color: var(--texto1);
    background-color: var(--botones-hover);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.logosys{
    width: 100px;
}
.tlog{
    text-align: center;
    font-family: 'Russo One';
}

.login{
    width: 350px;
    margin: 30px auto 14px auto;
    padding: 40px 70px 70px 70px;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--texto);
    box-shadow: 10px 10px;
}
.login input, #submit{
    border-style: solid;
    border-color: var(--botones);
    outline: none;
    padding: 10px;
    border-radius: 5px;
}
.relleno{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.relleno input{
    margin: 7px 0px 0px 0px;
    width: 100%;
}
#submit{
    background-color: var(--botones);
    font-family: 'quicksand bold';
    cursor: pointer;
    transition: 0.25s ease;
}
#submit i{
    margin-left: 7px;
}
#submit:hover{
    color: var(--texto1);
    background-color: var(--botones-hover);
    border-color: var(--botones-hover);
}
.signsigentr{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 35px 0px 0px 0px;
    width: 100%;
}
.oplog{
    flex-grow: 1;
    text-align: right;
}
.signup{
    flex-grow: 1;
}
.busignup{
    border-style: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
.busignup:hover{
    background-color: var(--btnsemitransp);
}
.spabusignup{
    font-family: 'quicksand bold';
    color: var(--texto2);
}
.teresc{
    padding: 10px;
    margin: 21px 0px 0px 0px;
    font-family: 'quicksand bold';
    color: var(--texto2);
    background-color: transparent;
    transition:  0.5s ease;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}
.teresc:hover{
    background-color: var(--btnsemitransp);
}
.logpass{
    margin: 21px auto;
}
.logpass label::selection{
    color: none;
}
.logpass label, .logpass input{
    font-family: 'quicksand bold';
    padding: 14px 7px 14px 0px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
.logpass label:hover{
    background-color: var(--btnsemitransp);
}
.minifoot{
    text-align: center;
    color: var(--texto2);
    font-family: 'quicksand';
    font-size: 10px;
    margin: 30px 0px 20px 0px;
}
.logpass input{
    background: var(--botones);
    accent-color: var(--botones);
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}
.ubicacion{
    margin: 10% 10% 0% 10%;
}
.map{
    margin: 35px 10% 10% 10%;
    text-align: center;
}
.map h1{
    color: var(--botones);
    font-family: 'staatliches';
    font-size: 48px;
    font-weight: 500;
}
.map p{
    font-family: 'inter';
    font-size: 21px;
}
.map iframe{
    width: 85.6%;
    margin: auto;
    height: 450px;
    /* border-style: solid; */
    border-radius: 5px;
    border-color: var(--borderclaro);
    box-shadow: 0px 0px 7px var(--borderclaro);
}
/*========================================= */
/*             === Registro ===            */
/*========================================= */
.crecu{
    display: none;
}
.creacu{
    width: 350px;
    margin: 30px auto 14px auto;
    padding: 40px 70px 70px 70px;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--texto);
    box-shadow: 10px 10px;
}
.formu input{
    padding: 10px;
    margin: 7px 0px 0px 0px;
    width: 93%;
    outline: none;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--botones);
}
.sigpass label{
    background-color: transparent;
    font-family: 'quicksand bold';
    padding: 10px 0px 10px 0px;
    border-style: none;
    border-radius: 5px;
    transition: 0.5s ease;
}
.sigpass label:hover{
    background-color: var(--btnsemitransp);
}
.sigpass input, .sigpass label{
    cursor: pointer;
}
.sigpass input{
    margin: 21px auto;
    accent-color: var(--botones);
    width: auto;
}
.sigpass label::selection{
    color: none;
}
.option{
    display: flex;
    flex-wrap: wrap;
    margin: 21px 0px 0px 0px;
    width: 100%;
}
.clean{
    flex-grow: 1;
    text-align: left;;
}
.clean button{
    background-color: transparent;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: 0.5s ease;
}
.clean button:hover{
    background-color: var(--btnsemitransp);
}
.clean span{
    font-family: 'quicksand bold';
    color: var(--texto2);
}
.push span{
    font-family: 'quicksand bold';
}
.push i{
    margin: 0px 7px 0px;
}
.push{
    flex-grow: 1;
    text-align: right;
}
.push button{
    background-color: var(--botones);
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: 0.5s ease;
}
.push button:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.loggo .swit{
    margin: 21px 0px;
    background-color: transparent;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
.loggo .swit:hover{
    background-color: var(--btnsemitransp);
}
.loggo .swit span{
    font-family: 'quicksand bold';
    color: var(--texto2);

}


/*========================================*/
/*=============Estudiantes================*/
/*========================================*/
.stud{
    margin: 30px auto 14px auto;
    padding: 40px 70px 70px 70px;
    border: solid 1px;
    border-color: var(--texto);
    border-radius: 5px;
    width: 350px;
    box-shadow: 10px 10px;
}

.log{
    margin: 21px 0px 0px 0px;
}
.log input{
    padding: 10px;
    outline: none;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--botones);
    width: 100%;
    box-sizing: border-box;
}
.log button{
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    margin: 14px 0px 0px 0px;
    cursor: pointer;
    width: 100%;
    font-family: 'quicksand bold';
    font-size: 14px;
    color: var(--texto);
    background-color: var(--botones);
    transition: 0.2s ease;
}
.log button:hover{
    background-color: var(--botones-hover);
    color: var(--texto1);
}
.log1 img{
    width: 100px;

}
.warni{
    margin: 21px 0px 0px 0px;
    text-align: center;
}
.war1, .war2{
    font-family: 'quicksand bold';
    font-size: 15px;
}
.war1{
    color: var(--texto2);
}
.war2{
    color: var(--texto3);
}
.nav-data-public-student{
    background-color: var(--borderclaro);
}
.components-data-public-student{
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 21px;
}
.head-data-public-student{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: var(--texto);
}
#exit{
    padding: 7px;
    border-radius: 7px;
    background-color: rgba(var(--botones-rgb), 0.3);
    transition: ease-in-out 0.2s;
}
#exit:hover{
    color: var(--texto1);
    background-color: rgba(var(--botones-rgb), 1);
}
.views-button-data-public-student button{
    font-family: 'Inter';
    font-size: 18px;
    padding: 7px;
    margin-right: 7px;
}
.views-button-data-public-student button:hover{
    border-bottom: 2px solid;
    border-color: var(--textolinkhover);
}
.views-button-data-public-student-active button{
    border-bottom: 2px solid;
    border-color: var(--textolinkhover);
}
.data-public-student{
    font-family: 'staatliches';
    font-size: 30px;
}
/*===========================================*/
/*==========Dashboard administrativo=========*/
/*===========================================*/
.menu-admin-dashboard{
    background-color: var(--footer);
    color: var(--textofondooscuro);
    font-family: 'staatliches';
}
.register-add-sidebar-details{
    background-color: var(--footer-claro);
    border-radius: 14px;
}
.main-content{
    background-color: var(--fondo);
    color: var(--texto);
}
.main-content-darkmode{
    background-color: var(--fondooscuro);
    color: var(--textooscuro);
}
.menu-hiden{
    display: flex;
}
.menu-hiden-button{
    display: block;
}
.menu-open-button{
    display: block;
}
.menu-hiden-close, .menu-button-hiden{
    display: none;
}
.btn-new-student{
    padding: 7px;
    background-color: var(--botones);
    color: var(--texto1);
    font-family: 'inter';
    border-radius: 8px;
    transition: ease-in-out 0.2s;
}
.btn-new-student:hover{
    background-color: var(--botones-hover);
}

/*===========================================*/
/*===========Diseño responsivo===============*/
/*===========================================*/
@media (max-width: 748px){
    .about{
        display: unset;
    }
    .m{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: 10px;
    }
    .about{
        margin: 77px 0px 77px 0px;
    }
    .map iframe{
        /* width: 100%; */
        /* height: 200%; */
    }
    .map{
        /* margin: 10% 10% 77% 10%; */
    }
}
@media (max-width: 452px){
    .info{
        display: unset;
    }
    .f-social{
        margin-top: 35px;
    }
}
@media (max-width: 507px){
    .stud{
        width: 290px;
        padding: 40px 21px 70px 21px;
    }
}
@media (max-width: 507px){
   .login{
        width: 290px;
        padding: 40px 21px 70px 21px;
   }
   .creacu{
       width: 290px;
       padding: 40px 21px 70px 21px;
   }
}
@media (max-width: 902px){
    .readygrades-img, .readygrades-img img{
        width: 25rem;
        margin-right: 12px;
    }
    .readygrades{
        margin-left: 12px;
    }
    .s-about{
        width: 91%;
        margin-right: -0.1%;
    }
}
@media (min-width: 700px){
    .sec-readygrades-movile, .sec-about-movile, .map-movile{
        display: none;
    }
}
@media (max-width: 700px){
    .sec-readygrades, .sec-about, .map{
        display: none;
    }
    .sec-readygrades-movile, .sec-about-movile, .map-movile{
        display: block;
    }
    .readygrades-img, .readygrades-img img{
        width: 90%;
        margin: auto;
    }
    .readygrades{
        width: 81%;
        /* text-align: center; */
        margin: auto;
        text-align: justify;
    }
    .readygradesbtn{
        text-align: center;
    }
    .readygrades a{
        text-align: center;
        margin: auto;
    }
    .sec-about-movile{
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 45px;
    }
    .sec-about-movile h1{
        color: var(--botones);
        text-align: center;
        font-family: 'staatliches';
        font-size: 48px;
    }
    .s-about{
        max-width: 87%;
    }
    .map-movile{
        margin: 35px 10% 10% 10%;
        text-align: center;
    }
    .map-movile h1{
        color: var(--botones);
        font-family: 'staatliches';
        font-size: 48px;
        font-weight: 500;
    }
    .map-movile p{
        font-family: 'Inter';
        font-size: 21px;
    }
    .map-movile iframe{
        width: 100%;
        margin: auto;
        height: 450px;
        border-radius: 5px;
        box-shadow: 0px 0px 7px #eeeeee;
    }
}


